absl-py==0.13.0
argon2-cffi==20.1.0
astor==0.8.1
async-generator==1.10
atomicwrites==1.4.0
attrs==21.2.0
backcall==0.2.0
black==21.8b0
bleach==1.5.0
box2d-py @ file:///D:/bld/box2d-py_1610101728882/work
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.6
click==8.0.1
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1598400192773/work
colorama==0.4.4
cycler==0.10.0
Cython==0.29.24
dataclasses==0.8
decorator==5.0.9
defusedxml==0.7.1
docopt==0.6.2
entrypoints==0.3
future @ file:///D:/bld/future_1610147365175/work
gast==0.5.1
glfw==2.1.0
grpcio==1.11.0
gym @ file:///D:/bld/gym_1631033269982/work
html5lib==0.9999999
idna==3.2
imageio==2.9.0
importlib-metadata==4.6.1
iniconfig==1.1.1
ipdb==0.13.9
ipykernel==5.5.5
ipython==7.15.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
jedi==0.17.0
Jinja2==3.0.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
kiwisolver==1.3.1
lockfile==0.12.2
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.3.4
mistune==0.8.4
mypy-extensions==0.4.3
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
notebook==6.4.0
numpy @ file:///D:/bld/numpy_1626682185159/work
opencv-python==4.5.3.56
packaging==21.0
pandas==1.1.5
pandocfilters==1.4.3
parso==0.8.2
pathspec==0.9.0
pickleshare==0.7.5
Pillow==8.2.0
platformdirs==2.3.0
pluggy==0.13.1
prometheus-client==0.11.0
prompt-toolkit==3.0.19
protobuf==3.5.2
py==1.10.0
pycparser==2.20
pyglet @ file:///D:/bld/pyglet_1618311616279/work
Pygments==2.9.0
pyparsing==2.4.7
pyrsistent==0.18.0
pytest==6.2.4
python-dateutil==2.8.2
pytz==2021.1
pywin32==301
pywinpty==1.1.3
PyYAML==5.4.1
pyzmq==22.1.0
qtconsole==5.1.1
QtPy==1.9.0
regex==2021.8.28
requests==2.26.0
scipy==1.5.4
seaborn==0.11.2
Send2Trash==1.7.1
six==1.16.0
tensorboard==1.7.0
tensorflow==1.7.1
termcolor==1.1.0
terminado==0.10.1
testpath==0.5.0
toml==0.10.2
tomli==1.2.1
torch==1.9.0+cu111
torchaudio==0.9.0
torchvision==0.10.0+cu111
tornado==6.1
traitlets==4.3.3
typed-ast==1.4.3
typing-extensions==3.10.0.0
unityagents @ file:///D:/udacity/deep-rl/projects/p1_navigation/pkgs/ml-agents/python
urllib3==1.26.6
wcwidth==0.2.5
Werkzeug==2.0.1
widgetsnbextension==3.5.1
wincertstore==0.2
zipp==3.5.0
